{% macro eqPlaceholder(formRate) -%}
    {%- apply spaceless -%}
    <div class="rowRate">
        {{ form_row(formRate) }} <button class="remove">-</button>
    </div>
    {%- endapply -%}
{%- endmacro %}


{{ form_start(form, {attr: {id: 'eq-form', 'data-idx': (equipment.fabricationRates.count + 1) }}) }}
    {{ form_widget(form._token) }}

    {{ form_row(form.name) }}
    {{ form_errors(form.name) }}

    <div>
        <button id="add-element">add</button>
    </div>

    <div id="equipment_fabricationRates" data-prototype="{{ _self.eqPlaceholder(form.fabricationRates.vars.prototype)|e('html_attr') }}">
        {% for rate in form.fabricationRates.vars.form.children %}
            {{ _self.eqPlaceholder(rate) }}
        {% endfor %}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
